include SignalProcessing/fft/libfft.so
include SignalProcessing/fft/libfft.pyd
include SignalProcessing/correlations/libcorrelations.so
include SignalProcessing/correlations/libcorrelations.pyd
include SignalProcessing/math/libmath.so
include SignalProcessing/math/libmath.pyd
include SignalProcessing/histograms/libhistograms.so
include SignalProcessing/histograms/libhistograms.pyd
include SignalProcessing/fft/libfftcuda.so
include SignalProcessing/fft/libfftcuda.pyd
